OxfordEnglishAPI/.vs/OxfordEnglish/v15/Server/sqlite3/storage.ide-shm
OxfordEnglishAPI/.vs/OxfordEnglish/v15/Server/sqlite3/db.lock
OxfordEnglishAPI/.vs/OxfordEnglish/v15/Server/sqlite3/storage.ide
OxfordEnglishAPI/.vs/OxfordEnglish/v15/Server/sqlite3/storage.ide-wal
